@using PalettaPolizeiPro.Pages
@inherits LayoutComponentBase 
<style>
    .shadow
    {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
</style>
@if (MyClient.User is null)
{
    return;
}
<MudThemeProvider Theme="MainTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Secondary" Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudChip Class="shadow" Color="Color.Primary" Icon="@Icons.Material.Outlined.Person2">@MyClient.User.Username</MudChip>
        <MudSpacer />
        <h3 style="color:lightblue"><i><b>Paletta Polizei</b></i></h3>
        <MudIconButton Class="ml-15" OnClick="LogOut" Icon="@Icons.Material.Filled.Logout" Color="Color.Primary" Target="_blank" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Vezérlőpult</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>    
    <MudMainContent> 
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
                @Body               
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {

    bool _drawerOpen = true;

    protected override void OnInitialized()
    {
        if (MyClient.User is null)
        {
            NavManager.NavigateTo("/login");
        }
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    void LogOut()
    {
        MyClient.User = null;
        NavManager.NavigateTo("/login");
    }
}